<!doctype html>
<html>
	<head>
		<title>Dytrich Nguyen - Home</title>
		<link rel="stylesheet" href="static/main.css">
	</head>
	<body>
		<div id="about">
			<img src="/static/portrait-vert.jpg" />
			<div>
				<div class="intro">
					<h1>Dytrich Nguyen</h1>
					<div>
						<p>
							is a 
							<span>musician</span>, 
							<span>writer</span>, 
							<span>programmer</span>, and 
							<span>photographer</span>
						</p>
					</div>
				</div>
				<div id="bio">
					<p>
						Dytrich Nguyen, currently working as a classical pianist and educator, is a well-versed multi-instrumentalist and web developer. He holds a B.Mus from Cornish College of the Arts with a focus in Piano/Composition/Ethnomusicology. There, his primary instructors were Dr. Peter Mack (piano) and Dr. Kaley Eaton (piano/composition). He also studied cello and composition with Ha-Yang Kim, as well as ethnomusicology studies with Dr. Kerry O'Brien. His broad and diverse experiences in music bring a fresh, contemporary perspective on classical music and beyond.
					</p>
				</div>
				<div>
				<h2 class="nav">
					<a class="hover-hl" href="#">Blog</a> / 
					<a class="hover-hl" href="#">Work</a> /
					<a class="hover-hl" href="mailto:me@dytrich-nguyen.com">Contact</a>
				</h2>
			</div>
		</div>
	</body>
</html>
