<footer class="mx-2">
	<div class="contact">
		<div>Dytrich Nguyen</div>
		<a href="mailto:me@dytrich-nguyen.com">me@dytrich-nguyen.com</a>
		<a href="#">@definitelydytrich</a>
	</div>
	<div class="version-info">
		<div>v0.1.0-indev</div>
			<div>
				<a href="#">changelog</a>
			</div>
		</div>
	</div>
</footer>
