<!doctype html>
<html>
	<head>
		<title>Dytrich Nguyen - {{ title }}</title>
		<link rel="stylesheet" href="static/main.css">
	</head>
	<body>
		<div id="navigation" class="nav">
			{{> nav}}
		</div>
		<div id="content" class="content">
			{{~> page}}
		</div>
		<div id="footer" class="footer">
			{{> footer}}
		</div>
	</body>
</html>
